# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StardewValley.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alex1\RiderProjects\StardewValley\.idea\.idea.StardewValley\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
